<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="cruiseSource" class="fr.ib.travel.cruise.CruiseSource">
		<property name="calculator" ref="cruiseCalculator" />
	</bean>

	<bean id="cruiseCalculator" class="fr.ib.travel.cruise.CruiseCalculator">
		<property name="prixBergenMalmo" value="340.00" />
		<property name="prixMalmoHelsinki" value="220.90" />
	</bean>

	<bean id="lakeSource" class="fr.ib.travel.cruise.LakeSource" autowire="byType"/> <!-- autowire="byType donne acces au set du type LakeRepository donc à repository -->

	<!-- Indication pour prendre en compte les annotations dans le package associé -->
	<context:component-scan base-package="fr.ib.travel.cruise"/>
	
	<!-- Configuration du Gemfire -->
	<bean class="org.springframework.data.gemfire.CacheFactoryBean"
		id="gemfireCache">
		<property name="properties">
			<props> <!-- de type java.util.Properties -->
				<prop key="log-level">error</prop>
				<prop key="mcast-port">0</prop>
			</props>
		</property>
	</bean>
	
	<!-- Système de stockage pour une région  =  lakeRegion -->
	<bean class="org.springframework.data.gemfire.LocalRegionFactoryBean"
		id="localRegion" p:cache-ref="gemfireCache"> <!-- Liaison avec le bean juste au-dessus -->
		<property name="name" value="lakeRegion"/>
	</bean>
	
	<!-- CThéorie de l'AOP -->
	<bean id="timerAspect" class="fr.ib.travel.cruise.TimerAspect" />
	<!-- <aop:config> <aop:aspect ref="timerAspect"> <aop:around method="showTime" 
		pointcut="execution(* getPrice())" /> <aop:around method="showTime" pointcut="execution(* 
		getActive())" /> </aop:aspect> </aop:config> -->
		
		
</beans>

