h1{
	color:red;
	 background-color: #bcbcbc;
	 text-align: center 
	 }
p{
	color:#ffffff;
 background-color: #0080c0;
 }
h2{
	color:black;
 }
body{
	background-color: lightgray
	}
li a:hover:not(.active) {
    color: black;
    background-color: red;
}
li a:hover:.active {
   color: black;
    background-color: red;
}