<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="fr.ib.travelandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/travel"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".HomeActivity" android:label="@string/name_home"><!--Fait référence à la classe du package inscrit au-dessus. on a ici une activité de démarrage!!-->
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity" android:icon="@drawable/toad" android:label="@string/name_summary"><!--Activité simple - activité caché-->
        </activity>
        <activity android:name=".SubmapsActivity" android:icon="@drawable/toad" android:label="@string/submaps_name"><!--Activité simple - activité caché-->
        </activity>
        <activity android:name=".PlaneActivity" android:label="@string/plane_name"> <!--Activité simple - activité caché-->
        </activity>
        <activity android:name=".RegisterActivity" android:label="@string/name_register"> <!--Activité simple - activité caché-->
        </activity>
    </application>

</manifest>
