<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<bean id="cruiseSource" class="fr.ib.spring.travel.CruiseSource">
		<property name="calculator" ref="cruiseCalculator"/>
	</bean>
	<bean id="cruiseCalculator" class="fr.ib.spring.travel.CruiseCalculator" >
		<property name="bmPrice" value="340"/>
		<property name="mhPrice" value="220.90"/>
	</bean>
	<bean id="timerAspect" class="fr.ib.spring.travel.TimerAspect"/>
	<aop:config>
		<aop:aspect ref="timerAspect">
			<aop:around method="showTime" pointcut="execution(* fr.ib.spring.travel..*.*(..))"/>
		</aop:aspect>
	</aop:config>
</beans>

