<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- balise pour utiliser AngularJS. -->
<script src="js/angular.min.js"></script>
<title>African trips: Egypt</title>
</head>
<body>
	<div ng-app=""
		ng-init="print=false;img='http://www.timeforkids.com/files/styles/tfk_rect_large/public/2011-07/egypt_ss1.jpg?itok=ydom62Cg'">
		<h1>Welcome on our Egiptian trips.</h1>
		<img ng-src="{{img}}">
		<h2>Where would you like to travel?</h2>
		<p>
			<label>Number of days: <input type="number" ng-model="days"></label>
		</p>
		<p>
			<label ng-mouseover="visits=true">Visits: <input type="checkbox" ng-model="visits" ng-mouseover="visits=true"></label>
		</p>
		<p>
			<input type="button" value="send" ng-click="print=true">
		</p>
		<p ng-show="print">Thank you sooooooo much ;) !!!</p>
	</div>
</body>
</html>