<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="js/angular.min.js"></script>
<title>African trips: Nigeria</title>
<style>
/* classe ng-invalid */
input.ng-invalid,select.ng-invalid {
	background: lightred
}
input.ng-valid,select.ng-valid {
	background: lightgreen
}
</style>
<script defer>
	var appN = angular.module("appNigeria", []);
	angular.module("appNigeria").controller(
			"CtlNigeria",
			function() {
				this.init = function() {
					this.name = "";
					this.email = "";
					this.result = "";
				}
				/* Validation de formulaire */
				this.askClick = function() {
					this.result = "";
					if (this.askForm.$valid) {
						/* récupération des valeurs entrées par l'utilisateur */
						this.result = "Request sent for: " + this.name
								+ ". Departure between: 1/" + this.off.n
								+ " and 9/" + this.off.n + ".";
					} else {
						if (this.askForm.name.$invalid) {
							this.result += "Name invalid ";
						}
						if (this.askForm.email.$invalid) {
							this.result += "Email invalid ";
						}
						if (this.askForm.offre.$invalid) {
							this.result += "Offer invalid ";
						}
					}
				}
				this.init();
				this.offers = [ {
					n : 1,
					l : "January",
					s : "dry season"
				}, {
					n : 2,
					l : "February",
					s : "dry season"
				}, {
					n : 3,
					l : "March",
					s : "dry season"
				}, {
					n : 4,
					l : "April",
					s : "rainy season"
				}, {
					n : 5,
					l : "May",
					s : "rainy season"
				}, {
					n : 6,
					l : "June",
					s : "rainy season"
				}, {
					n : 7,
					l : "July",
					s : "rainy season"
				}, {
					n : 8,
					l : "August",
					s : "dry season"
				}, {
					n : 9,
					l : "September",
					s : "rainy season"
				}, {
					n : 10,
					l : "October",
					s : "rainy season"
				}, {
					n : 11,
					l : "November",
					s : "dry season"
				}, {
					n : 12,
					l : "December",
					s : "dry season"
				}, ]
			})
</script>
</head>
<body style="background: #eef">
	<div ng-app="appNigeria" ng-controller="CtlNigeria as c"
		ng-init="img='http://www.timeforkids.com/files/styles/tfk_rect_large/public/2011-07/nigeria_ss3.jpg?itok=f60K48Ta'">
		<h1>Welcome on our Nigerian trips.</h1>
		<img ng-src="{{img}}">
		<h2>Where would you like to travel?</h2>
		<form name="c.askForm">
			<p>
				<label for="name">Name: </label><input type="text" ng-model="c.name"
					name="name" required pattern="[A-Z][a-z]+">
			</p>
			<p>
				<label for="email">Email: </label><input type="email"
					ng-model="c.email" name="email" required>
			</p>
			<p>
				<select ng-model="c.off"
					ng-options="off.l group by off.s for off in c.offers" name="offre"
					required><option value="">Offer:</option></select>
			</p>
			<p>
				<input type="button" value="Information request"
					ng-click="c.askClick()">
			</p>
		</form>
		<p>{{c.result}}</p>
		<div ng-include="'footer.html'"></div>
	</div>
</body>
</html>