<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<!-- usine à session : -->
	<session-factory>
		<property name="show_sql">true</property>
		<!-- propriétés pour se connecter à la base de données : user, password, 
			nom du server, dialecte sql utilisé (cette dernière est spécifique à Hibernate). 
			driver_class est une classe Java -->
		<!-- la valeur de la property suivante fait appel au .jar d'hibernate. 
			On a ici besoin d'une BD mysql, d'où l'utilisation du driver de mysql -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!--valeur suivante spécifique à mysql, on la trouverait dans la documentation 
			de mysql. "travel" correspond à NOTRE BD. Cette property donne le chemin 
			vers la BD qui nous intéresse. -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost/travel</property>
		<!-- username et password (n'existent pas pour le serveur sqlite) -->
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<!-- cette property sert à indiquer le dialecte à utiliser par Hibernate 
			pour utiliser notre BD. La plupart des systèmes ont rapidemenet implémenter 
			l'utilisation de sql comme langage -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<!-- sert à dire : je fais du mapping, tu crées des tables ! "update" veut 
			dire que chaque changement dans hibernate entrainera une mise à jour automatique 
			des tables concernées. On pourrait mettre create : supprimerait l'ancien 
			schema et en créerait un autre -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- la balise <mapping> permet de décrire les classes qui correspondent 
			à des tables il y aura autant de balises de ce type que de classes. -->
		<mapping class="data.Monument" />
		<mapping class="data.Comment" />
	</session-factory>
</hibernate-configuration>