<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>Obodrel's Travel</display-name>
	
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>fr.obodrel.travel.servlets.HomeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/einkerkObodrel</url-pattern>
	</servlet-mapping>
	
	<context-param>
        <param-name>BASE_URL</param-name>  
        <param-value>/tapestry-travel-obodrel/</param-value>  
	</context-param>
	
	
	<filter>
		<filter-name>AddDefaultCharsetFilter</filter-name>
		<filter-class>org.apache.catalina.filters.AddDefaultCharsetFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AddDefaultCharsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>
</web-app>