<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>Quito</servlet-name>
		<servlet-class>fr.ib.travel.QuitoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Quito</servlet-name>
		<url-pattern>/Quito</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Cartagena</servlet-name>
		<servlet-class>fr.ib.travel.CartagenaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cartagena</servlet-name>
		<url-pattern>/Cartagena</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>maracaibo</servlet-name>
		<servlet-class>fr.ib.travel.maracaiboServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>maracaibo</servlet-name>
		<url-pattern>/maracaibo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Lima</servlet-name>
		<servlet-class>fr.ib.travel.LimaServlet</servlet-class>
		<init-param>
			<param-name>text</param-name>
			<param-value>pas de voyage</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lima</servlet-name>
		<url-pattern>/Lima</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Santiago</servlet-name>
		<servlet-class>fr.ib.travel.SantiagoServlet</servlet-class>
	
	</servlet>
	<servlet-mapping>
		<servlet-name>Santiago</servlet-name>
		<url-pattern>/Santiago</url-pattern>
	</servlet-mapping>



	<error-page>
		<error-code>404</error-code>
		<location>/erreur404.html</location>
	</error-page>

</web-app>