<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ghana</title>
<script src="js/angular.min.js"></script>
<script defer>
	// Maintenant, on n'écrit plus d'argument $scope dans la fonction
	angular.module("appGhana", []).controller("CtrlGhana", function() {	
		this.init = function() {
			this.name = this.tel = this.message = "";
		} // end init fonction
		this.askClick = function() {
			this.result = "Demande d'informations supplémentaires envoyée"
			this.init();
		} // end askClick function
		this.registerClick = function() {
			this.result = "Pré-inscription de " + this.name + " enregistrée";
		} // end askClick function
		
		this.result = "";
		// Appel d'init
		this.init();
	})
</script>
</head>
<body>
	<!-- Utilisation de l'alias c pour CtrlGhana -->
	<div data-ng-app="appGhana" data-ng-controller="CtrlGhana as c">
		<h1>L'éléphantesque Ghana</h1>
		<form>
			<p>
				Nom : <input type="text" data-ng-model="c.name">
			<p>
				Tél : <input type="tel" data-ng-model="c.tel">
			</p>
			<p>
				Message : <textarea data-ng-model="c.message"></textarea>
			</p>
			<p>
				<!-- Appel de la fonction askClick() lorsqu'on clique sur le bouton -->
				<input type="button" value="Demande d'information" data-ng-disabled="c.name==''" data-ng-click="c.askClick()">
			</p>
			<p>
				<!-- data-ng-disabled="c.name=='' pour désactiver le bouton si le nom est vide -->
				<input type="button" value="Pré-inscription" data-ng-disabled="c.name==''" data-ng-click="c.registerClick()">
			</p>
			<p>{{c.result}}</p>
		</form>
	</div>
	<p>
		<a href="./index.html">Retour à l'index africain</a>
	</p>
</body>
</html>