<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Maroc</title>
<script src="js/angular.min.js"></script>
</head>
<body>
	<h1>Maroc, pays du couchant lointain</h1>
	<!-- FORMULAIRE -->
	<div data-ng-app="">
		<!-- Pas besoin de balise form, car pas d'envoi -->
		<p>
			Demande
		</p>
		<p>
			<label>Votre nom : <input type="text" ng-model="name"></label>
		</p>
		<p>
			<label>Votre email : <input type="email" ng-model="email"></label>
		</p>
		<p>
			<!-- Détecte les changements dans ng-model="name" et les affiche dans ng-bind="name" -->
			<!-- ng-bind-html enlève les choses dangereuses pour le HTML (surtout la balise <script> -->
			Envoyer une demande pour <span ng-bind="name"></span> : <input type="button" value="Envoi">
			<!-- {{email}} remplace <span ng-bind="name"></span> et est bien plus commode-->
		</p>
		<p>
			<a href="./index.html">Retour à l'index africain</a>
		</p>
	</div>
</body>
</html>