@CHARSET "utf-8";

body {
	background: snow;
	color: slategray
}

body {
	color: sienna;
}

h1 {
	background: blue url("../img/playa.jpg") repeat-x top;
	color: #A0E040;
	border: inset cyan 8px;
	padding: 15px;
	margin: 30px;
	margin-top: 60px;
}

a {
	color: #800;
	text-decoration: none
}

p {
	text-align: center;
}

table {
	width: 50%;
	margin: 0% 25% ;            /* ou bien margin-left: 25% ou encore margin-left:auto;*/		
	border-collapse: collapse;
	
}

th {
	text-align: left;
}

#monthHeader {
	width: 50%
}

td {
	border: 1px solid black
}

th {
	border: 1px solid black
}