@CHARSET "utf-8";

section {
	margin: 20px;
	border: 1px solid green;
	padding: 10px;
	border-radius: 10px;
}

h2#countryTitle {
	/* h2#countryTitle veut dire, avec h2 au début, on apporte plus de précision (c.a.d on veut h2 dont l'id est countryTitle)*/
	position: relative;
	left: 10px;
	top: 40px;
	/* top: 40px permet de décaler le contenu de 40px vers le bas (c.a.d on va ajouter 40px en haut pour decaler notre contenu vers le bas) */
}

#capitalSection {
	background: #eed;
	position: absolute;
	width: 500px;
	right: 0;
	top: 800px;
	z-index: 100px;
	/* z-index: 100px une sorte vision en 3d, c'est plus prêt de nous; "presque rien ne change" */
}

#offerSection {
	width: 50%;
	float: right;
}

section>h2 { /* section > h2 veut dire les h2 qui sont dans section */
	color: #662;
}

section strong {
	/* section strong veut dire les éléments strong qui sont qque part dans section */
	font-family: Arial;
}

h1, strong {
	background: #eea;
}

#capitalSection>p {
	/* #capitalSection > p ou alors une autre solution #capitalSection p et ensuite {ajouter les mêmes propriétés}*/
	font-family: Arial;
}

/*h2[id]en fonction d'un attribut ici c "id": donc les h2 ayant un id */

/*td[rowspan = 2] en fonction d'un attribut ici c "rowspan équivalant à 2"*/
h2:hover {
	color: pink;
}
/* h2:hover veut dire quand on survole avec la souris les titres en h2, ils se mettent en rose */
section:last-of-type {
	box-shadow: 0 0 50px black;
	/* 50px veut dire la taille du dégradé(relief) */
}

strong {
	transition: font-size 5s;
}

strong:hover {
	font-size: 24pt;
}

@media ( max-width :1500px){
	#capitalSection {
		display: none;
	}
}