<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="js/angular.min.js"></script>
<title>Voyage en Egypte</title>
</head>
<body>
	<div ng-app ng-init="show=false">
		<h1 style="text-align: center">Egypte</h1>
		<p style="text-align: center">
			<img src="img/egypte.jpg">
		</p>
		<p ng-include="'para.html'"></p>
		<h2>Votre Voyage</h2>
		<form>
			<p>
				Jours: <input ng-model="days" type="number" min="1" max="20">
			</p>
			<p>
				<input ng-model="visits" type="checkbox" ng-mouseover="visits=true"> Visites
			</p>
			<p>
				<input type="button" name="btn" value="Demander" ng-click="show=true">
			</p>
		</form>
		<p ng-show="show">OK</p>

		<p>
			<a href="index.html">Retour à l'Acceuil</a>
		</p>
	</div>
</body>
</html>