<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Voyage au Nigéria</title>
<script src="js/angular.min.js"></script>
<script defer>
	angular.module("appNigeria", []).controller(
			"CtlNigeria",
			function() {
				this.init = function() {
					this.name = ""
					this.email = ""
				}
				this.offers = [ {
					n : 1,
					l : "Janvier",
					s : "saison sèche"
				}, {
					n : 6,
					l : "Juin",
					s : "saison des pluies"
				}, {
					n : 8,
					l : "Juillet",
					s : "saison sèche"
				}, {
					n : 10,
					l : "Septembre",
					s : "saison des pluies"
				}, {
					n : 12,
					l : "Décembre",
					s : "saison sèche"
				} ]
				this.askClick = function() {
					//this.result = "Demande enregistrée"
					//this.depart = "Départ entre le 1/" + this.offer.n
					//+ " et le 7/" + this.offer.n
					if (this.askForm.$valid) {
						this.result = "Demande enregistrée: formulaire validé"
						this.depart = "Départ entre le 1/" + this.offer.n
								+ " et le 7/" + this.offer.n
					} else {
						this.result = "Demande invalide";
						if (this.askForm.name.$invalid)
							this.resultName = "*";
						else if (this.askForm.email.$invalid)
							this.resultEmail = "*";
						this.init()
					}
				}
				this.init()
			})
</script>
<style>
input.ng-invalid {
	background: red
}
</style>
</head>
<body>
	<div ng-app="appNigeria" ng-controller="CtlNigeria as c">
		<h1 style="text-align: center">Nigéria</h1>
		<form name="c.askForm">
			<p>
				Nom: {{c.resultName}} <input ng-model="c.name" type="text"
					name="name" required pattern="[A-Z][a-z]+">
			</p>
			<p>
				Email: {{c.resultEmail}} <input ng-model="c.email" type="email"
					name="email" required>
			</p>
			<p>
				Offre: <select ng-model="c.offer"
					ng-options="offer.l group by offer.s for offer in c.offers"
					required><option value="">Choisir</option></select>
			</p>
			<p>
				<input ng-disabled="c.name=='' || c.email==''" type="button"
					name="btn" value="Inscription" ng-click="c.askClick()">
			</p>
		</form>
		<p>{{c.result}}</p>
		<p>{{c.depart}}</p>
		<p>
			<a href="index.html">Retour à l'Acceuil</a>
		</p>
	</div>

</body>
</html>