<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="js/angular.min.js"></script>
<title>Voyage en Tunisie</title>
<style>
h1 {
	text-align: center
}

img {
	width: 50%;
	height: auto;
}

#i {
	text-align: center;
}

table, th, td {
	border: inset black 1px;
	border-collapse: collapse;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>
	<div ng-app ng-init="">
		<h1>Tunisie et Voisins</h1>
		<p id="i">
			<img src="img/constantine.jpg">
		</p>
		<p ng-repeat="n in [1,2,3,4] track by $index">
			{{n}} voyageur<span ng-hide="n==1">s</span>
		</p>
		<table>
			<tr>
				<th>index</th>			
				<th>Lieu</th>
				<th>Jours</th>
			</tr>
			<tr
				ng-repeat="step in [{l:'Tunis',d:2},{l:'Constantine',d:3},{l:'Jerba',d:6},{l:'Zouwarah',d:2}]">
				<td>{{$index+1}}</td>
				<td>{{step.l}}</td>
				<td>{{step["d"]}}</td>
			</tr>
		</table>

		<p>
			<a href="index.html">Retour à l'Acceuil</a>
		</p>
	</div>
</body>
</html>