@CHARSET "UTF-8";

h1 {
	color: #0000a0;
}

h2 {
	color: #8080ff;
	position: relative;
	left: 5%;
}

#inscript {
	padding-left: 5%;
	marging-rigth: 5%;
	border: 2px solid black;
	width: 20%;
}