@CHARSET "UTF-8";

	section {
		margin: 20px;
		border: 1px solid green;
		padding: 10px;
		border-radius: 10px;
	}
	h2#countryTitle {
		position: relative; /*position qu'il aurait du avoir*/
		left: 10px;
		/*espacement se créer * la gauche du titre et se déplace vers la droite*/
		/*top: 40px; espacement se créer en haut et dépalce vers le bas*/
	}
	#capitalSection {
		background: #eed;
		position: absolute;
		/*La section n'occupe plus l'espace, ce qu'il a après l'ignore. Exemple: les pop-up*/
		width: 500px;
		right: 0;
		top: 800px;
		z-index: 100; /*déterminer celui qui est dessus ou dessous*/
	}
	#offerSection {
		width: 50%;
		float: right;
	}
	section>h2 {
		color: #ff0000;
	}
	section strong {
		font_family: "Arial";
		color: #ff8040;
	}
	h1, strong {
		background: #eea;
	}
	section#capitalSection p {
		font-family: "Arial";
	}
	h2:hover {
		color: pink;
	}
	a:visited {
		
	}
	section:last-of-type {
		box-shadow: 0 0 50px black;
	}
	strong {
		transition: font-size 5s;
	}
	strong:hover {
		font-size: 24pt;
	}
@media ( max-width :1500px) {
	#capitalSection {
		display: none;
	}
}