<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="js/angular.min.js"></script>
<title>Egypte</title>
<!-- coloriage dans Angular comme Boostrap -->
<!-- even=impair, Les td contenu dans tr -->
<style>
.even>td{background:#eeb}
</style>
</head>
<body>
<div ng-app="" ng-init="show=false">
	<h1>Bienvenue en Egypte</h1>
<h2>Le pays des Pharaons</h2>
<br>
Votre voyage
	<p>
<label>Jours<input id="Jours" type="Number" min="3" max="25" ng-model="jours" ></label>
	</p>
	
	<p>
<label>Visiteurs:<input id="visitors"
		type="checkbox" name=name ng-model="visitors" ng-mouseover="visitors=true"></label>
	</p>
	
	<p>
	<label><input id="button" type="button" value= "Demander" ng-click="show=true" ></label>
	<!-- ng-click="show=true" quand on click, il renvoie true à show et donc affiche ok -->
	</p>
	<p>
	<!-- true ou false quand on croche -->
	{{visitors}}
	</p>
	<p ng-show="show"><!-- Un boolean qui s'execute quand sa valeur=true,Quand on click ça afficque ok -->
	<!-- ne s'affiche pas au départ car show est initialisé à false -->
	ok
	</p>
<div ng-include="'./footer.html'"></div>	
	</div>
</body>
</html>