<!DOCTYPE html>
<html>
<head>

<style>
input.ng-invalid{background:red}
input.ng-valid{background:lightgreen}
</style>
<meta charset="UTF-8">
<meta http-equiv="X-UA-compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimal-scale=0.5">
<link rel="stylesheet" href="CSS/bootstrap.min.css">
<script src="js/angular.min.js"></script>
<!-- On va faire les formulaires -->
<script defer>
angular.module("appNigeria",[]).controller("CtlNigeria",function(){
		this.init=function(){
		this.name="?"
		this.email="?"
				}
		this.result=""
		this.departure=""
		this.unvalid=""

		this.registerClick=function(){
			if(this.askForm.$valid){
			this.result="Demande envoyée "+this.name+""+this.email
			this.unvalid=""
			this.departure="Vous partez entre le 1/"+this.month.n+"et le 7/"+this.month.n
			this.init()
			}
			else{
			this.result="Le formulaire n'est pas valide"
			if(this.askForm.name.$invalid){
				this.departure=""
				this.unvalid+="Le champ nom est invalide"
					this.init()
			}
			if(this.askForm.email.$invalid){
				this.departure=""
				this.unvalid+="Le champ email est invalide"
			this.init()
				}
		}
	}
<!--une bibliotèque-->
	this.offers=[{n:1,l:"Janvier", s:"saison sèche"},
				{n:2,l:"Fevrier", s:"saison sèche"},
				{n:3,l:"Mars", s:"saison sèche"},
				{n:4,l:"Avril", s:"saison pluvieuse"},
				{n:5,l:"Mai", s:"saison pluvieuse"},
				{n:6,l:"Juin", s:"saison pluvieuse"},
				{n:7,l:"Juillet", s:"saison pluvieuse"},
				{n:8,l:"Août", s:"saison sèche"},
				{n:9,l:"Septembre", s:"saison pluvieuse"},
				{n:10,l:"Octobre", s:"saison pluvieuse"},
				{n:11,l:"Novembre", s:"saison sèche"},
				{n:12,l:"Decembre", s:"saison sèche"}]
		
		this.init()
	})


</script>
<title>Voyage au Nigéria</title>
</head>
<body>
	<!-- Du Bootstrap -->
	<nav>
		<ul class="nav nav-pills nav-tabs nav-justified">
			<li><a href="index.html">Accueil-Afrique</a></li>
			<li class="active"><a href="maroc.html"> Vers le Maroc?</a></li>
			<li><a href="senegal.html">Vers le sénégal?</a></li>
			<li class="active"><a href="egypte.html">Vers l'Ègypte?</a></li>
			<li><a href="tunisie.html">Vers la tunisie?</a></li>
			<li class="active"><a href="#"><span
					class="glyphicon glyphicon-asterisk"></span>Acceuil</a></li>
			<li><a href="ghana.html">Vers le Ghana?</a></li>
		</ul>
	</nav>
	<div class="container" ng-app="appNigeria"
		ng-controller="CtlNigeria as c"
		ng-init="img='http://www.alibabuy.com/photos/guides/pays/201/07c5d93bb60d6585d9ee68ce384de5be.JPG'">
		<h1>Bienvenue au Nigéria</h1>
		Quel beau pays, le Nigéria
		<form name="c.askForm">
			<p>
				<!-- Du coup on préfixe le mg model avec c. -->
				<label>Nom:<input required pattern="[A-Z][a-z]" type="text"
					name="name" ng-model="c.name"></label>
			</p>
			<p>
				<label>email<input type="email" name="email"
					ng-model="c.email"></label>
			</p>
			<p>
				<label><input type="button" value="Inscription"
					ng-click="c.registerClick()"></label>
			</p>
			<!-- Pour afficher les options de ma bibliotèque -->
			<!-- ng-model="c.month choisit librement(month ou mois ou..) -->
			<!-- month.l signifie month=l dans le dictionnaire -->
			<!-- group by month.s signifie groupé ar saison dans c.offers(la fonction offers dans le module c) -->
			<select required ng-model="c.month"
				ng-options="month.l group by month.s for month in c.offers">
				<option value="">Choisir</option>
			</select>
		</form>
		<p>
			{{c.result}} <br> {{c.departure}} <br> {{c.unvalid}}
		</p>
		<!-- afficher l'image défini dans ng-init -->
		<img ng-src="{{img}}" ng-if="img!=''">
	</div>
</body>
</html>