<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimal-scale=0.5">
<link rel="stylesheet" href="CSS/bootstrap.min.css">
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<!-- Gestion des requetes, formulaire -->
<script defer>
	angular.module("appReunion", []).controller("CtlReunion", function($http) {
		var c = this;
		c.registerClick = function() {
			c.info = "En cours..."
			$http.post("reunion",
				"name="+c.name+"&email="+c.email,
				{ headers : {
					"Content-Type" : "application/x-www-form-urlencoded"
				}
			}).then(function() {
				c.info = "ok"
			})
		}
	})
</script>
<title>Réunion</title>
</head>
<body>
	<h1>Bienvenue à la Réunion</h1>
	On ne fait pas que des réunions!
	<nav>
		<ul class="nav nav-pills nav-tabs nav-justified">
			<li><a href="index.html">Accueil-Afrique</a></li>
			<li class="active"><a href="maroc.html"> Vers le Maroc?</a></li>
			<li><a href="senegal.html">Vers le sénégal?</a></li>
			<li class="active"><a href="egypte.html">Vers l'Ègypte?</a></li>
			<li><a href="tunisie.html">Vers la tunisie?</a></li>
			<li class="active"><a href="#"><span
					class="glyphicon glyphicon-asterisk"></span>Acceuil</a></li>
			<li><a href="ghana.html">Vers le Ghana?</a></li>
			<li class="active"><a href="southafrica.html">Vers Afrique
					du sud?</a></li>
			<li><a href="madagascar.html">Vers le Madagascar?</a></li>
		</ul>
	</nav>
	<div class="container" ng-app="appReunion"
		ng-controller="CtlReunion as c">
		<h1>Quel beau pays, la Réunion</h1>
		<form name="c.askForm">
			<p>
				<label>Nom:<input required type="text" name="name"
					ng-model="c.name"></label>
			</p>
			<p>
				<label>email<input type="email" name="email"
					ng-model="c.email"></label>
			</p>
			<p>
				<label><input type="button" value="Envoyer"
					ng-click="c.registerClick()"></label>
			<p>{{c.info}}</p>
			<img class="col-sm-12 col-lg-6" alt="" src="img/reunion.jpg">
		</form>
	</div>

</body>
</html>