table#firstTable td  {
    text-align: center; 
}
table#firstTable tbody th {
    text-align: right; 
}
table#firstTable {
    background-color: #000000;
    border-spacing: 1px;
}
table#firstTable thead th, table#firstTable tbody th {
    background-color: #99ff99;
    padding: 5px;
    margin: 1px;
}
table#firstTable tbody td {
    background-color: #ffffff;
    padding: 2px;
}
a.normalLinks {     
    color: #e9a3cc;
    text-decoration: none;
}
a.bottomLinks {
    padding: 5px;
    background-color: #ffffff;
    color: #9E0E40;
    text-decoration: none;
    border: 2px dotted #9E0E40;
}
a.bottomLinks:hover {
    background-color: #9E0E40;
    color: #ffffff;
    border: 2px dotted #ffffff;
}
.linkBack {
    width: 20%;
    padding-left: 45%;
    margin-top: 150%;
}
div.centeredImg {
    display: block;
    margin: auto;
    text-align: center;
}
div.centeredImg img {
    width: 250px;
}
div.textUnderImg {
    text-align: center;
}
#formRight{
    float: left;
}
figcaption#fig1, div.textUnderImg {
    margin-left: 200px;
}
h1 {
    color: #557f2f;
    text-align: center;
    position: static;
    border-style: solid;
    border-width: 1px;
    border-color: #707070;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}
h2#guatTitle, h2#hondTitle {    
    text-align: center;
    position: static;
    font-family: Arial;
}
h2#hondTitle {    
    color: #a0e040;
    background-image: url("../img/obodrel_image_mexico_chiapas_waterfall.jpg");
    background-repeat: repeat-y;
    background-position: center;
}
.headerTextBlock, .textBlock {
    float: left;
    border-top : 1px solid #000000;
}
body {
    font-family: Tahoma;
    background-color: #fffff0;
}
section.textBlock h3, header.headerTextBlock h3 {
    color: #ffffff;
    font-family: Arial;
}
section.textBlock div, header.headerTextBlock div {
    line-height: 200%;
    background-color: #000000;
    width: 30%;
    margin-left: 35%;
    text-align: center;
}
header.headerTextBlock p {
    color: #232323;
}
section.textBlock, header.headerTextBlock {
    width: 100%;
}
table#hondPrice td  {
    text-align: center; 
}
table#hondPrice td, table#hondPrice th  {
    border : 1px solid #000000; 
}
table#hondPrice tbody th, table#hondPrice thead tr > th {
    text-align: right; 
}
table#hondPrice {
    border-spacing: 1px;
    width: 30%;
    padding-left: 37.5%;
}
table#hondPrice thead th, table#hondPrice tbody th {
    background-color: #a0e040   ;
    padding: 5px;
    margin: 1px;
}
table#hondPrice tbody td {
    background-color: #ffffff;
    padding: 2px;
}
body#snowBG {
    background-color: #fffafa;
    background-image: url("http://madartlab.com/files/2011/02/sparkle-unicorn-smaller.gif");
    background-repeat: round;
}