<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">

    <servlet>
        <servlet-name>Quito</servlet-name><!-- choisi arbitrairement mais il est conseiller de choisir un nom qui ressemble à celui de notre classe -->
        <servlet-class>fr.ib.travel.QuitoServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Quito</servlet-name>
        <url-pattern>/equateur/*</url-pattern><!-- choisi arbitrairement -->
    </servlet-mapping>

  
</web-app>