<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
			
	<bean id="cruiseSource" class="cruise.CruiseSource">
		<!-- utilisation d'un bean dans un autre bean -->
		<property name="calculator" ref="cruiseCalculator"/>
	</bean>
	
	<bean id="cruiseCalculator" class="cruise.CruiseCalculator">
		<property name="trajetBM" value="340"/>
		<property name="trajetMH" value="220.90"/>
		<property name="trajetHO" value="150.40"/>
		<property name="trajetOS" value="190.69"/>
	</bean>
	
	<bean id="timerAspect" class="main.TimerAspect"/>
	
	<aop:config>
		<aop:aspect ref="timerAspect">
			<aop:around method="showTime" pointcut="execution(* *())"/>
		</aop:aspect>
	</aop:config>
	
	<!-- Injection de db dans l'attribut grâce à "autowire" -->
	<bean id="lakeSource" class="lake.LakeSource" autowire="byType"/>
	
	<!-- Indication permettant la considération de la mise en place d'un repository -->
	<context:component-scan base-package="lake"/>
	
	<!-- Configuration de la DB temporaire -->
	<bean class="org.springframework.data.gemfire.CacheFactoryBean" id="gemfireCache">
		<property name="properties">
			<props>
				<prop key="log-level">error</prop>
				<prop key="mcast-port">0</prop>
			</props>
		</property>
	</bean>
	
	<!-- Construction de la DB temporaire -->
	<bean class="org.springframework.data.gemfire.LocalRegionFactoryBean" id="lakeRegion" p:cache-ref="gemfireCache">
		<property name="name" value="lakeRegion"/>
	</bean>
</beans>

