@CHARSET "UTF-8";

body {
	background: snow;
	color: #004080;
	text-align: center;
}

h1 {
	color: #70db17;
	font-weight: bold;
	font-style: italic;
	background: blue url("../Img/Mexique.jpg");
	border: inset black 8px;
	/*padding: 15px;
	margin: 30px;*/
	margin: 60px 30px 30px 30px;
}

table {
	/*width: 100%;*/
	border-collapse:collapse; 
	width: 50%;
	/*margin-left:25%;*/
	margin-left:auto;
	margin-right:auto; /*débouille toi autant à gauche et à droite*/
}
#monthheader{
	width:50%;
}

p {
	text-align: center;
}