@CHARSET "UTF-8";
a{
	text-align:center;
}
body {
	margin:0;
	padding:0;
	background: #efc;
}
#container{
	width:1100px;
	margin: 0 auto 0 auto;
	padding:40px;
	background: white;
	box-shadow: 0 0 5px black;
}
section{
	background:#efc;
	margin:0;
	padding:0;
}
h2,p{
	margin:0;
	padding:10px;
}
h2{
	background:#be9;
	cursor:pointer;
}
p{
	display:none;
}