@CHARSET "UTF-8";

body {
	text-align: justify;
	margin: 0;
	padding: 0;
	background: #efc;
	margin: 0;
}

#container {
	width: 1100px;
	margin: 0 auto 0 auto;
	padding: 40px;
	background: white;
	box-shadow: 0 0 10px black;
	background: white;
}

section {
	background: #efc;
	margin: 5px;
	padding: 0;
	border: 3px solid black;
}

h2, p {
	margin: 0;
	padding: 10px;
}

h2 {
	background: #be9;
	cursor: pointer;
}

p {
	display: none;
}