@CHARSET "UTF-8";

#pageTitre {
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	text-align: center
}

#paysTitre {
	position: relative;
	left: 10px;
	/* 	top: 20px; */
}

#pays {
	background: #fdfddf;
}

#capitalSection {
	background: #eed;
	position: absolute;
	width: 50%;
	right: 8px;
	top: 640px;
	z-index: 1;
}

#ofertaSec {
	/* 	position: absolute; */
	margin-right: 37px;
	width: 50%;
	float: right;
}

p {
	text-align: justify;
	position: relative;
}

a {
	color: red;
	text-decoration: none;
	position: absolute; margin-right : auto;
	margin-left: auto;
	margin-right: auto;
}

a:visited {
	/* 	color: blue; */
	background: blue;
}

#retour {
	text-align: center
}

section {
	margin: 20px;
	border: 1px solid green;
	padding: 10px;
	border-radius: 10 px;
}

section>h2 {
	color: #662;
}

section strong {
	font-family: Arial;
}

h1, strong {
	background: #eea;
}

#capitalSection>p {
	font-family: Arial;
}

h2:hover {
	color: pink;
}

section:last-of-type {
	box-shadow: -5em -1em 20px #b1b5ed;
}

section:first-of-type {
	background: #eea;
	box-shadow: -2em 3em 20px #faa998;
}

strong {
	transition: font-size 200ms;
}

strong:hover {
	font-size: 15pt;
}

@media ( max-width :500px) {
	#capitalSection {
		display: none;
	}
}