
body{
	background:url(../img/plage_nicaragua.jpg) no-repeat;
	color:white;
}
section{
	border:1px solid green;
	border-radius:10px;
	padding:10px;
}

h1{
	text-align:center;
	font-size:36pt;
	font-family:"Copperplate gothic bold";
	text-decoration: underline;
}

h2{
	font-size:24pt;
	text-decoration:underline;
	color:green;
	transition: color 2s;
}

h3>a{
	color:white
}

#headerSection{
	border:ouset white;
}

section#paysSection{
	border:none;
	
}
strong{
	transition:font-size 5s;
}

section:hover{
	box-shadow:0 0 5px black;
}

h2:hover{
	color:pink;
}
