body{
	margin:0;
	padding:0;
	background:#efc;
}

h1{
	text-align:center;
	font-size:36pt;
	font-family:"Copperplate gothic bold";
	text-decoration: underline;
}

#container{
	width:1100px;
	margin:0 auto 0 auto;
	padding:10px;
	background:white;
	box-shadow:0 0 5px black;
}

section{
	background:#efc;
	margin:0;
	padding:0;
	border:outset black;
}

h2,p{
	margin:0;
	padding:10px;
}

h2{
	background:#be9;
	cursor:pointer;
}

p{
	text-align:justify;
	display:none;
}