

section{
	margin:20px;
	border:1px solid green;
	padding:10px;
	border-radius:10px;
	z-index:100;
	
}

strong{
	transition:font-size 5s;
}

section:hover{}

section>h2{
	color:#662;
}

section strong{
	font-family:"copperplate gothic light";
	color:aqua;
}

section h2,strong{
	text-decoration: underline;
}

strong:hover{
	font-size:24pt;
}

#capitalSection>p{
	font-family:arial;
	width:60%
	
}

#countryTitle{
	position:relative;
	left:10px;
}

#capitalSection{
	background:#eed;
	position:absolute;
	width:500px;
	right:500;
	top:500px;
	z-index:200;
}

#offerSection{
	width:20%;
	float:right;
}

section:hover:last-of-type{
	box-shadow:0 0 5px black;
}

@media (max-width:300px){
	#capitalSection{
		display:none;
	}
}