@CHARSET "UTF-8";

section {
	margin: 20px;
	border: 1px solid green;
	padding: 10px;
	border-radius: 10px;
}

#countryTitle {
	/* On rajoute 20 pixels à gauche et 30 pixels en bas par rapport à la position par défaut */
	position: relative;
	left: 20px;
	bottom: 30px;
}

/* On applique les traitements à tous les p directement dans l'élément qui a pour identifiant capitalSection */
#capitalSection>p {
	background: #eed;
	width: 500px;
	/* Se positionne absolument par rapport à la page. Peut se superposer à d'autres éléments. À utiliser toujours avec left & cie */
	position: absolute;
	/* point collé à droite ... */
	right: 0px;
	/* ... 500 pixels plus bas */
	top: 500px;
	/* Si plusieurs éléments sont au même endroit, c'est celui de plus grand z-index qui est prioritaire */
	z-index: 100;
}

#offerSection {
	width: 50%;
	/* Élément flottant : se place à l'endroit spécifié. Le reste se place en conséquence */
	float: right;
	/* Le flottant est à droite donc le reste se place à gauche) */
}

/* #countrySection { */
/* 	/* "clear : right" neutralise les flottants à droite. À compiler avec et sans pour voir la différence d'action avec la section "Notre offre"  */
/* 	clear: right; */
/* } */
section>h2 {
	color: #662;
}

/* Tous les éléments strong de section sont mis en police Arial */
section strong {
	font-family: Arial;
}

/* On met un fond coloré à tous les éléments qui sont soit h1, soit strong */
h1, strong {
	background: #EEA;
}

/* Les h2 deviennent roses lorsqu'on passe la souris dessus */
h2:HOVER {
	color: pink;
}

/* Sélectionne la dernière section du conteneur (ici body) */
section:LAST-OF-TYPE {
	/* positionX(orienté vers la droite) positionY(orienté vers le bas) taille couleur */
	box-shadow: 0px -5px 10px red;
}

strong:HOVER {
	font-size: 24pt;
}

strong {
	/* La modification n'est plus instantée, elle prend 5 secondes */
	transition: font-size 5s;
}

/* Les instructions à l'intérieur des accolades ne s'appliquent qu'aux écrans de plus de 500px de large */
@MEDIA(max-width:500px) {
	/* L'élément dont l'id est #capitalSection disparaît */
	#capitalSection {
	display: none;
	}
}