<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="fr.ib.travelandroidma">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/world"
        android:label="@string/app_name"
        android:supportsRtl="true">
        // Balise 'activity' sera à définir pour chaque 'classe activity'. Il n'y en aura pas des milliers.

        <activity
            android:name=".HomeActivity"
            android:label="@string/home_name"
            >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/map_name"/>
        <activity
            android:name=".SubmapsActivity"
            android:label="@string/submaps_name"/>
        <activity
            android:name=".PlaneActivity"
            android:icon="@drawable/icontarget"
            android:label="@string/plane_name"/>
    </application>

</manifest>
