<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>Quito</servlet-name>
		<servlet-class>travel.QuitoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Quito</servlet-name>
		<url-pattern>/equateur/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Cartagena</servlet-name>
		<servlet-class>travel.CartagenaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cartagena</servlet-name>
		<url-pattern>/colombie/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Maracaibo</servlet-name>
		<servlet-class>travel.MaracaiboServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Maracaibo</servlet-name>
		<url-pattern>/venezuela/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Lima</servlet-name>
		<servlet-class>travel.LimaServlet</servlet-class>
		<!-- On crée des options que l'on va lire dans code java -->
		<init-param>
			<param-name>text</param-name>
			<param-value>Pas de voyages actuellement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lima</servlet-name>
		<url-pattern>/peru/*</url-pattern>
	</servlet-mapping>

</web-app>