<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
<script src="js/angular.min.js"></script>
<title>Egypte</title>
</head>
<body>
	<div ng-app="" ng-init="show=false">
		<p>
			<img src="img/egypte.jpg" alt="photo-Afrique" />
		</p>
		<section>
			<h1 id="egypteTitle">Egypte</h1>
			<p><img ng-src="{{img}}" ng-if="img!=''"/></p>
		</section>
		<fieldset>
			<legend>Votre voyage</legend>
			<p>Jours <input type="number" ng-model="jours" min="1" max="30"/></p>
			<p><input type="checkbox" ng-model="visit"  ng-mouseover="visit=true"/> Visites</p>
			</fieldset>
			<p><input type="button" value="Demander" ng-click="show=true"/></p>
			<p ng-show="show">C'est envoyé !</p>
		<section id="lien">
			<a href="Index.html">Home</a>
		</section>
		<div ng-include="'footer.html'"></div>
	</div>
</body>
</html>