<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
<script src="js/angular.min.js"></script>


<script type="text/javascript" defer>
	angular
		.module("appGhana",[])
		.controller("CtlGhana", function(){
			this.init=function(){
				this.message="...";
				this.name="";
				this.phone="";
			}
			
			this.result="";
			
			this.askClick=function(){
				this.result="Demande envoyée";
				this.init();
			}
			
			this.registerClick=function(){
				this.result="Inscription de "+this.name+" est enregistrée";
				this.init();
			}
			
			this.init(); //une fois que tout est appelé j'initialise en appelant la fonction init()
		});
	
	
</script>


<title>Ghana</title>
</head>
<body>
	<div ng-app="appGhana" ng-init="" ng-controller="CtlGhana as c">
	
		<p><img src="img/ghana.jpg" alt="photo-Afrique" /></p>
				<section>
			<h1 id="titre">Ghana</h1>
			<p><img ng-src="{{img}}" ng-if="img!=''" /></p>
		</section>
		
		<fieldset>
			<legend>Contact</legend>
			<p>Nom <input type="text" ng-model="c.name"/></p>
			<p>Téléphone <input type="text" ng-model="c.phone"/></p>
			<p>Message <textarea ng-model="c.message"></textarea></p>
			<p><input type="button" value="Demande d'information" ng-disabled="c.name==''" ng-click="c.askClick()"/></p>
			<p><input type="button" value="Pré-inscription" ng-disabled="c.name==''" ng-click="c.registerClick()"/></p>
			<p>{{c.result}}</p>
		</fieldset>
		
		<section id="lien">
			<a href="Index.html">Home</a>
		</section>
		
	</div>
</body>
</html>