<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>


<script type="text/javascript" defer>
angular
	.module("appLaReunion", [])
	.controller("CtlReunion",function($http,$scope){
		this.init=function(){
			this.name="";
			this.email="";
		}
		
		this.sendClick=function(){
			this.info="En cours..."
			var c=this
			
			$http.post("LaReunion","name="+this.name+"&email="+this.email,{headers:{"Content-Type":"application/x-www-form-urlencoded"}})
				.then(function(){
						c.info="OK"
				})
				
			this.init()
		}
	
	})

</script>


<title>La Reunion</title>
</head>
<body ng-app="appLaReunion" ng-controller="CtlReunion as c">

	<p><img src="img/reunion.jpg" alt="photo-Afrique" /></p>
	
	<section>
		<h1 id="titre">La Réunion</h1>
	</section>
<fieldset>
			<legend>Informations</legend>
			<p>Nom <input type="text" ng-model="c.name"/></p>
			<p>Email <input type="email" ng-model="c.email"/></p>
			
			<p><input type="button" value="Envoyer" ng-click="c.sendClick()"/></p>
			<p>{{c.info}}</p>
		</fieldset>
	<section id="lien">
		<a href="Index.html">Home</a>
	</section>
</body>
</html>