<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
<script src="js/angular.min.js"></script>
<title>Tunisie</title>
</head>
<body>
	<div id="container">
		<div ng-app="" ng-init="">
			<p>
			<center>
				<img src="img/tunisie.jpg" alt="photo-Afrique" />
			</center>
			</p>
			<section>
				<h1 id="tunisieTitle">Tunisie</h1>
			</section>
			<fieldset>
				<legend>Voyageurs</legend>
				<p ng-repeat="n in [1,2,3,1] track by $index">
					<span ng-if="n==1"> {{n}} voyageur</span> <span ng-if="n!==1">{{n}}
						voyageurs</span>
				</p>
			</fieldset>
			<table>
				<tr>
					<th>Index</th>
					<th>Lieu</th>
					<th>Jours</th>

				</tr>
				<tr
					ng-repeat="step in [{l:'Tunis', d:2},{l:'Constantine', d:3},{l:'Jerba', d:6},{l:'Tunis', d:2}]"
					ng-class-even="'even'" ng-class-odd="'odd'">
					<td>{{$index+1}}</td>
					<td>{{step.l|uppercase}}</td>
					<td>{{step.d}}</td>
				</tr>
			</table>
			<section id="lien">
				<a href="Index.html">Home</a>
			</section>
		</div>
	</div>
</body>
</html>