
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="foo">
	
	<property name="hibernate.hbm2ddl.auto">update</property><!-- permet de créé les schema et permet donc de créé des table dans les schémat, update en opposition a create (recréé) ou validate  -->
		<property name="show_sql">true</property>
		 
		<!--   permet d'indiquer l'emplacement du driver, a trouver dans la doc -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/travel</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<!-- indique le langage utilisé dans la bdd et le dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<mapping class="fr.ib.travel.spain.Monument"/>
		<mapping class="fr.ib.travel.italie.Comment"/>
		<mapping class="fr.ib.travel.italie.IndexAction"/>
		<mapping class="fr.ib.travel.croatia.IndexAction"/>
	</session-factory>
</hibernate-configuration>