<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>Quito</servlet-name>
    <servlet-class>travel.QuitoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quito</servlet-name>
    <url-pattern>/quito.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cartagena</servlet-name>
    <servlet-class>travel.CartagenaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cartagena</servlet-name>
    <url-pattern>/cartagena.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Maracaibo</servlet-name>
    <servlet-class>travel.MaracaiboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Maracaibo</servlet-name>
    <url-pattern>/maracaibo.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lima</servlet-name>
    <servlet-class>travel.LimaServlet</servlet-class>
    <init-param>
      <param-name>text</param-name>
      <param-value>Pas de voyages prévu actuellement, désolé !!</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lima</servlet-name>
    <url-pattern>/lima.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Santiago</servlet-name>
    <servlet-class>travel.SantiagoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Santiago</servlet-name>
    <url-pattern>/santiago.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MonteVideo</servlet-name>
    <servlet-class>travel.MonteVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonteVideo</servlet-name>
    <url-pattern>/montevideo.html</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/erreur404.jsp</location>
  </error-page>
</web-app>