<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Egypte</title>
<script src="js/angular.min.js"></script>
<link rel="stylesheet" href="css/afrique.css">
</head>
<body>
	<div ng-app ng-init="show=false">

		<h1>Bienvenue en Egypte !</h1>

		<p>
			<img src="img/egypte.jpg" />
		</p>

		<div class="petite">
			<form>
				<p>
					<label>Nombre de jours : </label><input type="number" name="nb_j"
						ng-model="days" />
				</p>
				<p>
					<input type="checkbox" name="visite" ng-model="visits"
						ng-mouseover="visits=true" /><label>je souhaitez-vous
						participer aux visites</label>
				</p>
				<p>
					<input type="button" value="Demander" ng-click="show=true" />
				</p>
			</form>

			<p ng-show="show">Demande envoyée</p>

		</div>
		
		<div class="espace"></div>

		<div ng-include="'footer.html'">
		</div>

	</div>
</body>
</html>