<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Egypte</title>
<script src="js/angular.min.js"></script>
<link rel="stylesheet" href="css/afrique.css">
<script>
	var appG = angular.module("appGhana", []);
	
	function control() {
		this.init=function(){
			this.nom="";
			this.tel="+33 ";
			this.mess="Quel est votre message ?";
		}
		this.askClick = function() {
			this.result = "Demande envoyée";
			this.init();
		}
		this.askClick2 = function() {
			this.result = "Demande envoyée pour "+this.nom;
			this.init();
		}
		this.init();
	}
	appG.controller("CtlGhana", control);
</script>
</head>
<body>
	<div ng-app="appGhana" ng-controller="CtlGhana as c">

		<h1>Bienvenue au Ghana !</h1>

		<p>
			<img src="img/ghana.jpg" />
		</p>

		<div class="petite">
			<form>
				<p>
					<label>Nom : </label><input type="text" name="nom" ng-model="c.nom" />
				</p>
				<p>
					<label>Tel : </label><input type="tel" name="tel" ng-model="c.tel" />
				</p>
				<p>
					<label>Message : </label>
					<textarea name="mess" ng-model="c.mess"></textarea>
				</p>
				<p>
					<input type="button" value="Demande d'information"
						ng-disabled="c.nom==''" ng-click="c.askClick()"/>
				</p>
				<p>
					<input type="button" value="Pré-inscription"
						ng-disabled="c.nom==''" ng-click="c.askClick2()" />
				</p>
			</form>
			<p>{{c.result}}</p>
		</div>

		<div class="retour">
			<a href="index.html">Retour</a>
		</div>
</body>
</html>