<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Maroc</title>
<script src="js/angular.min.js"></script>
<link rel="stylesheet" href="css/afrique.css">
</head>
<body>

	<div ng-app=""
		ng-init="nom='?'; email='?' ; im='http://hbensliman.free.fr/Fond%20d%20ecran/Maroc/hi-res/maroc-(19).jpg'; err='Attention le nom et l\'email sont obligatoire' ; mess='Demande envoyée pour '"
		ng-cloak>

		<h1>Bienvenue au Maroc !</h1>

			<p>
				<img src="img/maroc.jpg" />
			</p>

		<div class="petite">
			<p>Demande</p>
			<form>
				<p>
					<label>Votre nom : </label><input type="text" ng-model="nom" /><input
						type="text" ng-model="nom" />
				</p>
				<p>
					<label>Votre email : </label><input type="email" ng-model="email" />
				</p>
				<p>
					<span ng-bind="err" ng-if="nom=='?' || email=='?'"></span>
				</p>
				<p>
					<span ng-bind="mess + nom"
						ng-show="nom!='?' && email!='?'"></span>({{email}})
				</p>
				<p>
					<input type="button" name="btn" value="Envoi" />
				</p>
			</form>
		</div>

		<div>
			<img ng-src="{{im}}"/>
		</div>
		<p></p>

	<div class="retour">
	<p><a href="index.html">Retour</a></p>
	</div>

</body>
</html>