<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Egypte</title>
<script src="js/angular.min.js"></script>
<link rel="stylesheet" href="css/afrique.css">

<style>
input ng-invalid {
background:red;
}
</style>

<script>
	var appN = angular.module("appNigeria", []);

	function control() {
		this.offers=[
			{n:1,l:"Janvier",s:"saison sèche"},
			{n:2,l:"Février",s:"saison sèche"},
			{n:3,l:"Mars",s:"saison sèche"},
			{n:4,l:"Avril",s:"saison des pluies"},
			{n:5,l:"Mai",s:"saison des pluies"},
			{n:6,l:"Juin",s:"saison des pluies"},
			{n:7,l:"Juillet",s:"saison des pluies"},
			{n:8,l:"Aout",s:"saison sèche"},
			{n:9,l:"Sptembre",s:"saison des pluies"},
			{n:10,l:"Octobre",s:"saison des pluies"},
			{n:11,l:"Novembre",s:"saison sèche"},
			{n:12,l:"Décembre",s:"saison sèche"}];	
		
		this.askClick=function(){
			this.input_err = [{n:"nom", err:"err_nom"}, {n:"email", err:"err_email"}, {n:"l", err:"err_l"}]
			if (this.askForm.$valid){
				this.result = "Demande enregistrée";
				this.depart="Départ entre le 1/"+this.offer.n+" et le 7/"+this.offer.n;
				this.err_nom=this.err_email=this.err_l="";
			}
			else {
				this.result = "Il faut remplir tous les champs !!!";
				for (e in this.input_err){
					if (this.askForm[this.input_err[e].n].$invalid)
						this[this.input_err[e].err]="*";
					else
						this[this.input_err[e].err]="";				
				}
	
			}
		}
	}

	appN.controller("CtlNigeria", control);
</script>

</head>
<body>
	<div ng-app="appNigeria" ng-controller="CtlNigeria as c">

		<h1>Bienvenue au Nigéria !</h1>

		<p>
			<img src="img/nigeria.jpg" />
		</p>

		<div class="petite">
			<form name="c.askForm">
				<p>
					<label>Nom : <input type="text" name="nom" ng-model="c.nom" required pattern="[A-Z][a-z]+" />{{c.err_nom}}</label>
				</p>
				<p>
					<label>email : <input type="email" name="email" ng-model="c.email" required/>{{c.err_email}}</label>
				</p>
				<p><select name="l" ng-model="c.offer" ng-options="offer.l group by offer.s for offer in c.offers" required>
				<option value="">Choisir</option>
				</select>
				<label>{{c.err_l}}</label>
				<p>
					<input type="button" value="Inscription" ng-disabled="c.nom==''" ng-click="c.askClick()"/>
				</p>
			</form>
			<p>{{c.result}}</p>
			<p>{{c.depart}}</p>
		</div>

		<div class="espace"></div>
		<div class="retour">
			<p>
				<a href="index.html">Retour</a>
			</p>
		</div>

	</div>

</body>
</html>