<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>La réunion</title>
<script src="js/angular.min.js"></script>
<link rel="stylesheet" href="css/afrique.css">

<script>
	var appR = angular.module("appR", []);
	function ctrl($http) {
		var c=this;
		this.askClick = function() {
			this.info = "En cours d'envoi ...";
			this.nom = "";
			this.email = "";
			$http
					.post(
							"reunion",
							"name= " + this.nom + "&email= " + this.email,
							{
								header : {
									"Content-type" : "application/x-www-form-urlencoded"
								}
							}).then(function() {
						c.info = "ok";
					})
		}
	}
	appR.controller("CtlReunion", ctrl);
</script>

</head>
<body>

	<div ng-app="appR" ng-controller="CtlReunion as c">

		<h1>Bienvenue à la Réunion !</h1>

		<p>
			<img src="img/reunion.jpg" />
		</p>

		<div class="petite">
			<form>
				<p>
					<label>Nom : </label><input type="text" name="nom" ng-model="c.nom" />
				</p>
				<p>
					<label>Email : </label><input type="email" name="email"
						ng-model="c.email" />
				</p>
				<p>
					<input type="button" value="envoyer" ng-click="c.askClick()" />
				</p>
			</form>
			<p>{{c.info}}</p>
		</div>


		<div class="espace"></div>
		<div class="retour">
			<p>
				<a href="index.html">Retour</a>
			</p>

		</div>
</body>
</html>