<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="js/angular.min.js"></script>
<title>Insert title here</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body style="background: #F7F8E0">
	<div data-ng-app = "" data-ng-init = "name='?'; email='?'; img='http://www.espace-maroc.com/upload/guide/grande/20140407183928.jpg'" ng-cloak>
		<h1>Nos Voyages au Maroc</h1>
		<center>
		<img ng-src="{{img}}" ng-if = "img != '' ">
			<!-- <img src="img/maroc.jpg" alt="Africa"> -->
		</center>
		<fieldset>
			<legend><strong>Vos demandes</strong></legend>
			<form>
				<p>
					<label>Votre nom <input ng-model="name" type="text" size="20"  ></label> <span ng-if ="name == '?'" >Nom manquant !</span>
				</p>
				
				<p>
					<label>Votre email <input ng-model="email" type="email" size="20" ></label> <span ng-if ="email == '?'" >Email manquant !</span>
				</p>						 
				
				<p ng-if  ="name != '?' && email != '?'" >Envoyer une demande pour <span ng-bind ="name" ></span> {{email}}
				<p>
					<label><input type="button" value="Envoyer"></label>
				</p>
			</form>
		</fieldset>

		<a href="index.html">Page d'accueil</a>
	</div>
</body>
</html>