<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="travel.jk.travelandroid">
    <!-- Liste des permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- @string/app_name va chercher le nom dans app\src\main\res\values\strings.xml -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/application_travel"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!-- Déclaration de l'activité de la classe MapActivity -->
        <activity
            android:name=".MapActivity"
            android:label="@string/map_activity"></activity>
        <!-- Déclaration de l'activité de la classe SubmapsActivity -->
        <!-- En supprimant l'intent filter, cette activité n'est plus une activité de démarrage -->
        <activity
            android:name=".SubmapsActivity"
            android:icon="@drawable/icone_australie"
            android:label="@string/submaps_activity"></activity>
        <!-- Déclaration de l'activité de la classe PlaneActivity -->
        <!-- Avec cette syntaxe sans extension, on ne peut différencier des images de même nom
         mais d'extension différente. Mieux vaut un format .png qu'un .jpg pour la transparence -->
        <activity
            android:name=".PlaneActivity"
            android:label="@string/plane_activity"></activity>
        <!-- Déclaration de l'activité de la classe PlaneActivity -->
        <activity
            android:name=".HomeActivity"
            android:label="Home Activity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!-- Déclaration de l'activité de la classe RegisterActivity -->
        <activity
            android:name=".RegisterActivity"
            android:label="Register Activity"></activity>
    </application>
</manifest>