@CHARSET "UTF-8";

body {
	font-family: Calibri;
	color: brown;
	background: #b7c6f7;
}

h1 {
	color: #b5ff6a;
	background: url("../img/Guatemala.jpg") center repeat-y;
	background-color: #0000a0;
	font-weight: bold;
	text-align: center;
	border: outset #000080 8px;
	padding: 30px;
	margin: 60px 30px 30px 30px;
}

h2 {
	background: url("../img/Guatemala.jpg") center repeat-y;
	font-weight: bold;
	text-align: center;
	background-color: #0000a0;
}

a {
	color: #800040;
	text-decoration: none;
}

.link {
	text-align: center;
}

table {
	background: #ffffff;
	border-collapse: collapse;
	width: 50%;
	margin: 0 25% 0 25%;
}

#monthHeader {
	width: 50%;
	background: #74baba;
}

td {
	border: 1px solid black;
}

th {
	border: 1px solid black;
	background: #b7e8e6;
}