@CHARSET "UTF-8";

section {
	margin: 20px;
	padding: 10px;
	border: 1px solid green;
	border-radius: 10px;
	background: green;
	color: white;
}

body {
	background: black;
}

h1, h2 {
	text-align: center;
	z-index: 200;
	position: relative;
	color: blue;
}

.link {
	text-align: center;
}

#countryTitle {
	position: relative;
	z-index: 200;
	color: red;
}

#capitalSection {
	background: #eed;
	color: black;
	width: 50%;
	right: 0;
	z-index: 100;
	position: relative;
}

#capitalSection p {
	font-family: Arial;
}

#offerSection {
	width: 50%;
	float: right;
	background: #8080ff;
}

section>h2 {
	color: #662;
}

section strong {
	font-family: Arial;
	color: red
}