<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>jaxrs</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!-- On configure la servlet conformément à ce qui est attendu par les 
			créateurs du code. Poure ce faire, création d'un paramètre -->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>jersey</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>jaxrs</servlet-name>
		<url-pattern>/jersey/*</url-pattern>
	</servlet-mapping>

	<!-- filtre ne sert que pour les entrées vers le service, pas pour les sorties. 
		Du coup, le navigateur est perdu : il ne sait pas que ma sortie contien de 
		l'utf-8 et considèrera cela comme de l'ISO-8859-1. -->
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>DefaultEncodingFilter</filter-name>
		<filter-class>org.apache.catalina.filters.AddDefaultCharsetFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DefaultEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>