@CHARSET "UTF-8";

div{}
h1{
	color:black;
	text-align:center;
	font-family:"Copperplate gothic bold";
	font-weight:900;
	font-size:48pt;
	border: outset brown 8px;
	padding:5px 0px 5px 0px;
	margin:20px 50px 20px 50px;
}

table{
	text-align:center;
	border-bottom: 1px solid #ddd;
}
thead{
	background-color: #4CAF50;
    color: white;
}
.even{
	background-color: #f2f2f2;
	color:#000033
}
th, td {
    padding: 15px;
    text-align: left;
}

aside{
	background-color:#77B5FE;
	color:white;
	float:left;
	border:outset blue 8px;
}
aside nav{
	text-align:left;
	display: block;
	padding:5px 30px 5px 15px;
}
aside li,a{
	color:white;
	border:black 1px
}
aside:hover{
	box-shadow:0 0 5px black;
}

.footer{
	color:black;
}
