<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<!-- configurer la connection, une propriété pour tout ce qu'on a besoin -->
	<session-factory name="foo">
	<!-- une propriété qui crée et enlève les tables(update=auto mise à jour, create= supprime et recré à chaque fois, validate= juste le valider(verifier) -->
		<property name="hibernate.hbm2ddl.auto">update</property>
<!-- configurer la connection, une propriété pour tout ce qu'on a besoin -->
		<property name="show_sql">true</property>
<!-- Le driver à utiliser -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<!-- url de connection local, le port -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost/travel</property>
<!-- le login utiliser -->
		<property name="hibernate.connection.username">root</property>
<!-- Le mot de passe -->
		<property name="hibernate.connection.password"></property>
<!-- Le dialect utilisé, quel langage utilisé (en fonction du type de serveur) -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		
		<mapping class="fr.belto.travel.hibernate.Monument"/>
		
	</session-factory>
</hibernate-configuration>