<!DOCTYPE html>
<html>
<head>
<style>
input.ng-invalid {
	background: blue
}
</style>
<meta charset="UTF-8">
<script src="js/angular.min.js"></script>
<script>
	angular.module("appNigeria", []).controller(
			"CtrlNigeria",
			function() {
				this.init = function() {
					this.name = ""
					this.email = ""
				}

				this.askClick = function() {
					this.name = ""
					this.email = ""
					//$invalid $dirty $pritine
					if (this.askForm.$valid)
						this.result = "Pedido guardado. Salidas entre el 1/"
								+ this.offer.m + " y el 7/" + this.offer.m
								+ "."
					else {
						this.result = "Lene los campos por favor"
						if (this.askForm.nombre.$invalid)
							this.badname = "Primera letra mayuscula"
						else
							this.badname = ""
						if (this.askForm.email.$invalid)
							this.bademail = "Poner un email correcto"
						else
							this.bademail = ""
					}
				}

				this.offers = [ {
					m : 1,
					l : "Enero",
					s : "estacion seca"
				}, {
					m : 2,
					l : "Febrero",
					s : "estacion seca"
				}, {
					m : 3,
					l : "Marzo",
					s : "estacion seca"
				}, {
					m : 4,
					l : "Abril",
					s : "estacion mojada"
				}, {
					m : 5,
					l : "Mayo",
					s : "estacion mojada"
				}, {
					m : 6,
					l : "Junio",
					s : "estacion mojada"
				}, {
					m : 7,
					l : "Julio",
					s : "estacion mojada"
				}, {
					m : 8,
					l : "Agosto",
					s : "estacion seca"
				}, {
					m : 9,
					l : "Septiembre",
					s : "estacion mojada"
				}, {
					m : 10,
					l : "Octubre",
					s : "estacion mojada"
				}, {
					m : 11,
					l : "Noviembre",
					s : "estacion seca"
				}, {
					m : 12,
					l : "Diciembre",
					s : "estacion seca"
				} ]

				this.result = ""
			})
</script>
<title>Nigeria</title>
</head>
<body>

	<div data-ng-app="appNigeria" data-ng-controller="CtrlNigeria as c">
		<form name="c.askForm">
			<p>
				Nombre <input type="text" name="nombre" data-ng-model="c.name"
					pattern="[A-Z][a-z]+" required> {{c.badname}}
			</p>
			<p>
				E-mail <input type="email" name="email" data-ng-model="c.email"
					required> {{c.bademail}}
			</p>
			<p>
				Ofertas <select data-ng-model="c.offer"
					data-ng-options="offer.l group by offer.s for offer in c.offers"
					required>
					<option value="">Escoja un mes de salida</option>
				</select>
			</p>
			<input type="button" value="Inscription" data-ng-click="c.askClick()" />
		</form>
		<p>{{c.result}}</p>
	</div>

	<div>
		<a href="index.html">Inicio</a> <a href="marruecos.html">Marruecos</a>
		<a href="tunez.html">Tunez</a> <a href="egipto.html">Egipto</a> <a
			href="senegal.html">Senegal</a> <a href="ghana.html">Ghana</a>
	</div>

</body>
</html>