<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="js/angular.min.js"></script>
<style>
.even>td {
	background: #eeb
}
</style>
<title>Viaje a Tunez</title>
</head>
<body>
	<div ng-app ng-init="">
		<p ng-repeat="n in [1,2,3,1] track by $index">
			{{n}} viajero<span ng-show="n>1">s</span>
		</p>
		<!-- 		<p ng-repeat="n in [1,2,3,4]" ng-if="n!=1">{{n}} viajeros</p> -->

		<table>
			<tr>
				<th>Indice</th>
				<th>Lugar</th>
				<th>Dias</th>
			</tr>
			<tr
				ng-repeat="step in [{l:'Tunez',d:2},{l:'Constantine',d:3},{l:'Jerba',d:6},{l:'Zorwarah',d:2}]"
				ng-class-even="'even'">
				<td>{{$index+1}}</td>
				<td>{{step.l|uppercase}}</td>
				<td>{{step.d|number:0}}</td>
			</tr>
		</table>

		<div>
			<a href="index.html">Inicio</a> <a href="marruecos.html">Marruecos</a>
			<a href="egipto.html">Egipto</a> <a href="senegal.html">Senegal</a>
			<a href="ghana.html">Ghana</a> <a href="nigeria.html">Nigeria</a>
		</div>
	</div>
</body>
</html>