<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mafia K1Fry : Egypte</title>
<script src="js/angular.min.js"></script>
<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
	<div class="container" data-ng-app data-ng-init="days=3;visites=false;show=false">
		<div data-ng-include="'./header.html'"></div>
		<h1 >Egypte !!</h1>
		<form action="">
			<label for="days"> Jours : </label> 
				<input id="days" type="number" min="3" max="20" data-ng-model="days"></input><br> 
			<input id="visites" type="checkbox" data-ng-model="visites" data-ng-mouseover="visites=true"></input><label for="Visites"> Visites</label>
			<br>
			<input type="button" value="Demander" data-ng-click="show=true">
		</form>
		<p data-ng-show="show">
			OK !!
		</p>
		<div data-ng-include="'./footer.html'"></div>
	</div>
</body>
</html>