<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mafia K1Fry : Nigéria</title>
<script src="js/angular.min.js"></script>
<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
	<div class="container" data-ng-app="appNigeria"
		data-ng-init="img=''">
		<div data-ng-include="'./header.html'"></div>
		<h1 class="text-center">Nigéria !!</h1><br>
		<img data-ng-src="{{img}}" data-ng-if="img!=''"> <br>
		
		<!-- Définition de la zone affectée par notre controleur et de l'alias de ce dernier :"c" -->
		<section data-ng-controller="CtlNgr as c" class="row">
			<section class="row">
				<div class="col-md-5">
					<form action="" class="form-group" name="c.askForm">
						<label for="name">Nom</label>
							<input type="text" id="name" data-ng-model="c.name" class="form-control" required pattern="[A-Z][a-z]+" name="nom"><br>
						<label for="email">Email</label>
							<input type="email" id="email" data-ng-model="c.email" class="form-control" name="email"><br>
						<label for="offre">Offre</label>
							<select class="form-control" data-ng-model="c.offer" data-ng-options="offer.label group by offer.season for offer in c.offers" id="offre">
								<option value="">Choisir un mois de départ</option>
							</select><br>
						<input type="button" value="Inscription" data-ng-disabled="false" data-ng-click="c.askClick()" class="btn btn-default"><br>
					</form>
				</div>
			</section>
			<section class="row">
				<h3 data-ng-hide="c.result==''">{{c.result}}</h3>
			</section>

			<div class="row">
				<div data-ng-include="'./footer.html'"></div>
			</div>
		</section>
	</div>

</body>
<script defer="defer">
appN=angular.module("appNigeria",[]).controller("CtlNgr",function(){
	this.name="";
	this.email="";
	this.result="";
	this.askClick=function(){
		console.log(this.askForm.$error.required[0].$name)
		//Vérifie que les conditions du required pattern sont bien remplit
		if(this.askForm.$valid){
			this.result="Demande enregistrée, bienvenue "+this.name+"!! Départ entre le 1/"+this.offer.month+" et le 7/"+this.offer.month;
			this.name=this.email="";
		}else{
			var error="";
			if(this.askForm.$error.pattern!=undefined){
				for(obj in this.askForm.$error.pattern){
					console.log(obj);
					error+= obj.$name+",";
				}
			}
			
			if(this.askForm.$error.required!=undefined){
				for(obj in this.askForm.$error.required){
					console.log(obj);
					error+= obj.$name+",";
				}
			}
			this.result="Veuillez remplir correctement ce formulaire !! ("+error+")"
		}
		
	};
	this.offers=[{month:1,label:"Janvier",season:"saison sèche"},
		{month:2,label:"Février",season:"saison sèche"},{month:3,label:"Mars",season:"saison sèche"},
		{month:4,label:"Avril",season:"saison de pluie"},{month:5,label:"Mai",season:"saison de pluie"},
		{month:6,label:"Juin",season:"saison de pluie"},{month:7,label:"Juillet",season:"saison de pluie"},
		{month:8,label:"Août",season:"saison sèche"},{month:9,label:"Septembre",season:"saison de pluie"},
		{month:10,label:"Octobre",season:"saison de pluie"},{month:11,label:"Novembre",season:"saison sèche"},
		{month:12,label:"Décembre",season:"saison sèche"}];
})
</script>
</html>