<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mafia K1Fry : Senegal</title>
<script src="js/angular.min.js"></script>
<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
	<div class="container" data-ng-app="appSenegal"
		data-ng-init="days='3';img1='http://voyage-photos.com/main.php?g2_view=core.DownloadItem&g2_itemId=4510&g2_serialNumber=3'">
		<div data-ng-include="'./header.html'"></div>
		<h1>Senegal !!</h1><br>
		<img data-ng-src="{{img1}}" data-ng-if="img!=''"> <br>
		
		<section data-ng-controller="ctlSngl">
			<h2>Notre Voyage</h2>
			<label for="days">Selectionnez le nombre de jour :</label>
				<input type="number" id="days" data-ng-model="days" min="3" max="20" class="form-control">
			
			<p>Coût du voyage : {{days|price|curr:"euros"}}
		</section>
		
		<div data-ng-include="'./footer.html'"></div>
	</div>
</body>
<script defer="defer">
	var appS=angular.module("appSenegal",[]).
	//Création d'une constante
	constant("prixAvion",945).
	//Création d'une variable
	value("prixHotel",38.29)
	//Création d'un controleur qui donne accès aux constantes et variable
	.controller("ctlSngl",function($scope,prixAvion,prixHotel){
		$scope.prixHotel=prixHotel;
		$scope.prixAvion=prixAvion;
	})
	//Création d'un filtre qui va s'appliquer sur un nombre de jour et renvoyer le prix total du voyage
	appS.filter("price",function(prixAvion,prixHotel){
		return function(days){
			return (days*prixHotel)+prixAvion;
		}
	})
	//Création d'un filtre qui s'applique sur le prix total et renvoie le prix en fonction d'un type de monnaie 
	appS.filter("curr",function(){
		return function(prix,currency,value){
			if(value==undefined)value=1;
			return ""+(prix/value).toFixed(2)+" "+currency;
		}
	})

	console.log("test")
	console.log(angular.module("appSenegal")._invokeQ)

</script>
</html>