<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<script src="js/angular.min.js"></script>

<script defer>angular.module("appGhana",[])
.controller("ctlGhana",function(){
	
	this.message="salut a toi"
	this.name=""
	this.result=""
	this.init=function(){this.name=this.tel=""; this.message="?"}
	this.askClick=function(){this.result="Demande envoyée"
		this.init()}
	



})
</script>
<style>
h1{text-align: center}
even>td{background:#eeb}
odd>td{background:#FFF8dc}
table td{border: inset black 1px;
		border-collapst:collaps;
		text-align: center;
		width: 50%;
		}
</style>
<title>Ghana</title>
</head>
<body>
	<h1>Ghana</h1>
	<p>
		<a href="index.html">accueil</a>
	</p>
	<!-- les cfonctionnalité ng-truc ne fonctionne que entre les balise contenan ng-(app -->
	<!--  le ng-cloak masque le contenu tant que la page n'est pas charger-->
	<div ng-app="appGhana" ng-controller="ctlGhana as c" >
		<form>
		
			<p>
				Nom:<input type="text" ng-model="c.name">
			</p>
			<p>
				tel:<input type="text" ng-model="c.tel">
			</p>
			<p>
				message:<input type="text" ng-model="c.message">
			</p>
			<p>
				<input type="button" value="demande d'info" ng-disabled="c.name==''" ng-click="c.askClick()">
			</p>
			<p>
				<input type="button" value="pré-inscription " ng-disabled="c.name==''">
			</p>
<
		</form>
		<p> {{c.result}}</p>
		
		<div ng-include="'./footer.html'"></div>
		
	</div> 
</body>
</html >