<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<script src="js/angular.min.js"></script>
<style>
h1{text-align: center}
even>td{background:#eeb}
odd>td{background:#FFF8dc}
table td{border: inset black 1px;
		border-collapst:collaps;
		text-align: center;
		width: 50%;
		}
</style>
<title>maroc</title>
</head>
<body>
	<h1>Maroc</h1>
	<p>
		<a href="index.html">accueil</a>
	</p>
	<!-- les cfonctionnalité ng-truc ne fonctionne que entre les balise contenan ng-(app -->
	<!--  le ng-cloak masque le contenu tant que la page n'est pas charger-->
	<div ng-app="" ng-init="name=''; email='@gmail.com';img='http://img.ev.mu/images/pays/136/1605x642/136.jpg'" ng-cloak>
		<!-- dès qu'on met une image on l'afiche avec ng devant pour qu'elle soit ignoré tant que angular ne travaille pas -->
		<!-- img!='' affiche si elle existe et si c == elle ne s'affiche pas   -->
		<!--  le ng-if affiche le contenu de la balise si c vrai ce qu'il y a après le =-->
		<img ng-src="{{img}}" ng-if="img!=''">
		<form>
			<p >
			<!-- les balise label indique que tout est ensemble  -->
				Nom:<input type="text" ng-model="name" name="nom" ><span ng-if="name!=''&& email!='@gmail.com'" > nom correctement saisie</span>
				<!--  ng model permet d'associer cela a angular le name = nom est utilisé par le serveur -->
			</p>
			<p>
				email:<input type="email" ng-model="email">
			</p>
<!-- le {{email}} remplace le <span d 'a cooté par contre cela passe par la vérif html lié au type email et ne êrmet pas le nettoyage-->
			envoyer une demande pour : <span ng-bind="name" ng-hide="name!='tutur'"></span>{{email}} 
			<!-- ng bind affiche la donnée entré dans name, une alternative ng-bind-html  qui permet de nettoyer le html des chose dangereux service sanitize qui fau configuré  -->
			<p>
				<input type="button" ng-model="button"value="envoi" ng-show="name!='nico' || email!='nico@gmail.com'">
			</p>
<!-- les balise ng-if fon des test , les ng-show et hide fon apparaitee ou dirparaise en fonction de lal condition la syntaxe est la meme que les if  -->
		</form>
		<div ng-include="'./footer.html'"></div>
	</div> 
	
</body>
</html>