@CHARSET "UTF-8";

section{
	margin:20px;
	padding:10px;
	border-radius:10px;
	background-image:linear-gradient(white 30%, snow 70%);
	box-shadow:0 0 5px black;
}
#countryTitle{
	position:relative;
	left:10px;
	top:0px;
}
#capitalesection{
	background:#eed;
	position:absolute;
	width:20%;
	top:20%;
	left : 1%
}
#offersection{
	width:50%;
	float:right;
	background-image:-moz-linear-gradient(right, white 30%, #73b1d0 70%);
}
body{
	font-family:Garamond;
	width:50%;
	background: #73b1d0;
	margin:auto;
	
}
div{
	background: #eeeeee;
	margin:auto;
}
h1{
	background:url(image/salvador-paysage.jpg);
	text-align:center;
	padding:10%;
	color:white;
	font-family:Tahoma;
	title:"source : https://nostalatina.wordpress.com/voyage-el-salvador/infos-voyage-au-salvador/"
}
section>h2{
	color:#800000;
}
section strong{
	font-family:Arial;
}
h1,strong{
	color:white;
}
#capitalesection p{
	font-family:Garamond;
}
.retour{
	text-align:right;
	background:#eeeeee;
	padding:5%;
	margin:auto;
}

h2:hover{
	color:pink;
}
a:visited{
	color:red;
}
section:slast-of-type{
	border:1px solid #400080;
}
@media (max-width:1500px){
	#capitalesection{
	display:none;
	}
}
strong:hover{
	font-size:24pt;
}
strong{
	transition:font-size 5s;
}